body {
    background: #a7a7a7;
}

header {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 50px;
    color: white;
}

.card-wrapper {
    min-height: 100px;
    background-color: #6e6e6e;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 5px;
}

.card-entry {
    min-height: 500px;
}

.card-wrapper:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

ul li {
    border: 1px solid black;
    margin: 5px 0;
    background-color: rgba(238, 16, 46, 0.75);

}

ul {
    list-style-type: none;
}

.trash {
    background-image: url("../img/delete.svg");
    height: 20px;
    width: 20px;
    background-size: cover;

}

.edit {
    background-image: url("../img/pencil.svg");
    height: 20px;
    width: 20px;
    background-size: cover;

}

.board-wrapper {
    min-height: 100px;
    background-color: #6e6e6e;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 5px;
}

