{% extends "layout.html" %} {% block title %}Home Menu{% endblock %} {% block content %}

<h1>Test Home</h1>

<a href="{{ url_for('card_menu') }}">
    <div>Card menu</div>
</a>


<button>Plus</button>

<section>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-12 board">

<p>Helloodasdad</p>
            </div>
<div class="col-lg-3 col-md-4 col-xs-12 boardred">

<p>Helloodasdad</p>
            </div>


        </div>

    </div>

</div>
    </section>
{% endblock %}