{% extends "layout.html" %} {% block title %}Home Menu{% endblock %} {% block content %}


<section>
    <form>
    <input type="text" name="card-name" required id="card-input"></form>
    <svg id="add-card" class="material button" viewBox="0 0 1 1">
    <circle cx="50%" cy="50%" r="50%" fill="black"/>
    <rect x="42.5%" y="25%" width="15%" height="50%" fill="white"/>
    <rect x="25%" y="42.5%" width="50%" height="15%" fill="white"/></svg>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="board" id="new">
                    <h1>New</h1>
                    <div class="card-wrapper material">
                        <div class="sortfield">
                            <ul class="card-entry list-unstyled" id="newcollector">



                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-12 board"
                     id="in-progess">
                    <h1>In Progress</h1>

                    <div class="card-wrapper material">


                        <div class="sortfield">
                            <ul class="card-entry list-unstyled" id="in-progresscollector">


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-12 board"
                     id="review">
                    <h1>Review</h1>

                    <div class="card-wrapper material">


                        <div class="sortfield">
                            <ul class="card-entry list-unstyled" id="reviewcollector">


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-12 board"
                     id="done">
                    <h1>Done</h1>

                    <div class="card-wrapper material">


                        <div class="sortfield">
                            <ul class="card-entry list-unstyled" id="donecollector">


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}